////////////////////////////////////////
//	Header fix
////////////////////////////////////////

#header-fix
	height: 60px


////////////////////////////////////////
//	Nav desktop
////////////////////////////////////////

#header-desktop 

	position: fixed
	width: 100%


	.logo
		position: absolute
		display: block
		width: 250px
		background: $green
		padding: 10px 20px

	nav
		margin-left: 250px

		//
		// first
		//
		a
			padding: 0 40px
			line-height: 60px
			text-transform: uppercase
			font-weight: bold


		li.has-sub.open > a,
		a:hover
			color: $green


		li a:hover
			background: none


////////////////////////////////////////
//	Header mobile
////////////////////////////////////////

#header-mobile
	position: fixed
	width: 100%

	.nav-mobile-toggle
		color: $green
		display: block
		float: left

	.logo
		display: block
		float: left

		img
			margin-top: 10px
			height: 40px

	

#nav-mobile-container nav

	//
	// first
	//

	a:hover,
	a:focus
		color: $green


