////////////////////////////////////////
//	Nav desktop
////////////////////////////////////////

#header-desktop 

	position: fixed
	width: 100%


	.logo img
		float: left
		height: 60px
		padding: 10px 0

	nav

		//
		// first
		//

		a
			padding: 20px 40px

