
////////////////////////////////////////
//	Over ons
////////////////////////////////////////

#wrapper-about-us

	.profile

		text-align: center


		// avatar
		img
			width: 72%	
			border-radius: 100%	
			margin-bottom: 40px

		// name
		h3
			font-size: 40px
			font-weight: bold
			text-transform: uppercase
			margin-bottom: 20px

		// function
		h5
			font-size: 20px
			font-weight: bold
			text-transform: capitalize
			margin-bottom: 40px
