
////////////////////////////////////////
//	Portfolio
////////////////////////////////////////

#wrapper-portfolio

	.portfolio-items

		.portfolio-item
			float: right
			width: 28.7%
			overflow: hidden
			margin-right: -5%

			&:nth-child(1)
				margin-top: 0
				margin-right: 0

			&:nth-child(2)
				margin-top: 40px
				z-index: 30

			&:nth-child(3)
				margin-top: 80px
				z-index: 20

			&:nth-child(4)
				margin-top: 120px
				z-index: 10


