
////////////////////////////////////////
//	Service
////////////////////////////////////////

#wrapper-service
	color: white
	text:
		align: center

	img.logo
		margin-bottom: 40px

	.btn
		margin: 30px 10px 0 10px