
////////////////////////////////////////
//	Project
////////////////////////////////////////

body
	min-height: 9999px
	font-family: 'Roboto'

h2
	font:
		size: 40px
		weight: bold
	text-transform: uppercase

p
	font:
		size: 20px

